body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
}

.cards .card {
  background: #742698;
  color: #fd0;
  padding: .5% 2.5%;
  width: 22%;
  height: 42%;
}

.cards .card:hover {
  animation: rotate 0.5s 1 both;
}

@keyframes rotate {
  30% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
}

.cards .card h1 {
  font-family: 'Intro Black Caps';
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  min-height: 90vh;
  width: 80vw;
  padding: 7% 10% 10% 10%;
  margin: 0 auto;
  background: #fff;
  visibility: hidden;
  -webkit-perspective: 800;
}

.is-active {
  visibility: visible;
}

.card-content .back h1 {
  font-family: 'Intro Black Caps';
  font-size: 2em;
}

.card-content .back h2 {
  font-family: 'Skyhook Mono';
}

.card-content .back p {
  font-family: 'Source Sans Pro';
}

.card-content .back button {
  font-family: 'Source Sans Pro';
  font-size: 2em;
  background: none;
  border: none;
  transform: translate(0px, -10px);
}

.back {
  backface-visibility: hidden;
  transition: transform 500ms;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fd0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 7% 10% 10% 10%;
}

.front {
  backface-visibility: hidden;
  transition: transform 500ms;
  transform: perspective(300) rotateY(0);
  z-index: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #742698;
  color: #fd0;
  padding: .5% 2.5%;
  width: 22%;
  height: 42%;
}

.back {
  transform: rotateY(-180deg);
  z-index: 800;
}

.front-flipped {
  transform: rotateY(180deg);
  transform: perspective(300) rotateY(180deg);
}
.back-flipped {
  z-index: 950;
  transform: rotateY(0deg);
  transform: perspective(300) rotateY(0deg);
}