body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
}

.cards .card {
  background: #742698;
  color: #fd0;
  padding: .5% 2.5%;
  width: 22%;
  height: 42%;
}

.cards .card:hover {
  animation: rotate 0.5s 1 both;
}

@keyframes rotate {
  30% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
}

.cards .card h1 {
  font-family: 'Intro Black Caps';
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  min-height: 90vh;
  width: 80vw;
  padding: 7% 10% 10% 10%;
  margin: 0 auto;
  background: #fd0;
  visibility: hidden;
}

.is-active {
  visibility: visible;
}

.card-content h1 {
  font-family: 'Intro Black Caps';
  font-size: 2em;
}

.card-content h2 {
  font-family: 'Skyhook Mono';
}

.card-content p {
  font-family: 'Source Sans Pro';
}

.card-content button {
  font-family: 'Source Sans Pro';
  font-size: 2em;
  background: none;
  border: none;
  transform: translate(0px, -10px);
}
