body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
}

.cards .card {
  background: #742698;
  color: #fd0;
  padding: .5% 2.5%;
  width: 22%;
  height: 42%;
}

.cards .card:hover {
  animation: rotate 0.5s 1 both;
}

@keyframes rotate {
  30% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
}

.cards .card h1 {
  font-family: 'Intro Black Caps';
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  min-height: 90vh;
  width: 80vw;
  padding: 7% 10% 10% 10%;
  margin: 0 auto;
  background: #fd0;
  visibility: hidden;
  -webkit-perspective: 800;
}

.is-active {
  visibility: visible;
}

.card-content h1 {
  font-family: 'Intro Black Caps';
  font-size: 2em;
}

.card-content h2 {
  font-family: 'Skyhook Mono';
}

.card-content p {
  font-family: 'Source Sans Pro';
}

.card-content button {
  font-family: 'Source Sans Pro';
  font-size: 2em;
  background: none;
  border: none;
  transform: translate(0px, -10px);
}

.front,
.back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 500ms;
  -o-transition: -o-transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.front {
  -moz-transform: perspective(300) rotateY(0);
  -webkit-transform: perspective(300) rotateY(0);
  transform: perspective(300) rotateY(0);
  z-index: 900;
}
.back {
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 800;
}

.front-flipped {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-transform: perspective(300) rotateY(180deg);
  -webkit-transform: perspective(300) rotateY(180deg);
  transform: perspective(300) rotateY(180deg);
}
.back-flipped {
  z-index: 950;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -moz-transform: perspective(300) rotateY(0deg);
  -webkit-transform: perspective(300) rotateY(0deg);
  transform: perspective(300) rotateY(0deg);
}
